.slider-mask {
    width: 100%;
}
.main-footer {
	background: #141414;
	padding: 25px;

}

.inner-footer h4 {
	color: #b3b3b3;
	font-family: 'Nunito', sans-serif;
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px solid #3b3b3b;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.inner-footer ul {
	color: #949494;
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	margin-top: 20px;
}

.inner-footer ul li {
	line-height: 25px;
	font-size: 12px;
}

.left-space {
	padding-left: 15px !important;
	padding-right: 15px;
}

.inner-footer ul li img {
	margin-bottom: 7px;
	opacity: .5;
	height: 25px;
	margin-top: 0;
	border-radius: 100px;
}
.inner-footer ul li a {
    color: #a3a3a3;
    text-transform: capitalize;
    font-size: 13px;
    text-decoration: none;
}
.copy-right {
	background-color: #0c0c0c;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	color: #797979;
}
.footer-links ul {
    list-style: none;
    float: right;
    margin-bottom: 0;
}
.footer-links ul li {
    float: left;
}
.footer-links ul li a {
    color: #a3a3a3;
    text-transform: capitalize;
    font-size: 13px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.social-media   li a {
 
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    display: block;
    width: 0px;
    height: 25px;
    line-height: 35px;
    text-align: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
	margin-bottom: 5px;
}
.social-media.left-space {
    padding-left: 70px !important;
}
.text-left p {
    margin-bottom: 0;
}