body {
  background-color: #FAFAFA !important;
}

.common-banner{
  padding: 0 !important;
  margin-bottom: 30px;
}
.common-banner img{
  width: 100%;
}

.card-detail {
  /* width: 300px; */
  background: #fff;
  display: block;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(221, 221, 221);
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}
.card-image{
  width: 100%;
}
.card-sp.card-sp {
  padding: 0 5px !important;
  margin-bottom: 12px;
}
/* .card-detail:hover {
  transform: scale(1.03);
} */

.card-image img {
  width: 350px;
  height: 200px !important;
  object-fit: cover;
  display: block;
}

.card-info {
  padding: 16px;
  width: 100%;
  position: relative;
}

.hotel-name {
  font-size: 20px;
  text-transform: capitalize;
  color: #333;
  margin-bottom: 10px;
}

.hotel-price {
  color: #e5484d;
  margin-bottom: 6px;
  font-size: 22px;
}

.hotel-distance {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.hotel-rating {
  font-size: 14px;
  color: #444;
  margin-bottom: 12px;
}

.hotel-rating .rating {
  color: #ffa500;
  font-weight: bold;
}

/* Book Now Button */
.book-btn {
  color: #ffffff;
  cursor: pointer;
  background-color: #e5484d;
  border: 1px solid #ff3534;
  border-radius: 6px;
  width: 100%;
  padding: 13px 16px;
  font-size: 15px;
  transition: background-color .3s;
}

.book-btn:hover {
  background-color: #ff3534;
  color: #ffffff;
}


.mt-30{
  margin-top: 30px;
}
.main-footer{
  margin-top: 50px;
}
.filterIcon{
  float: left;
  height: 22px;
  margin-right: 5px;
}
.crossIcon{
  position: absolute;
  top: 18px;
  right: 15px;
  height: 22px;
}
.hotel-rating img{
  display: flex;
  align-items: center;
}
.hotel-rating  img {
  object-fit: cover;
  width: auto;
  height: 18px;
  display: block;
}
.hotel-rating {
  color: #444;
  margin-bottom: 0;
  font-size: 12px;
  display: flex;
  position: absolute;
  bottom: 35px;
  left: 285px;
}
.hotelFilter{
  display: none;
}
.labelName h3{
  font-size: 20px;
}
.card-filter {
  background-color: #ffffff;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  padding: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 6px;
  margin-top: -4px;
}
.card-filter .px-20{
  padding: 0 !important;

}
.card-filter.card-filter h5 {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.filter-group {
  margin-bottom: 20px;
  border-bottom: 1px solid #dbdbdb;
  padding: 20px;
}
.filter-group:nth-child(3){
  margin-bottom: 0 !important;
  border-bottom: 0;
}
.filter-group div {
  margin-bottom: 6px;
  color: #4D4D4D;
  line-height: 24px;
}
.px-20{
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-filter h5 {
  color: #2c3e50;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-top: 5px;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  color: #34495e;
}

.filter-group div {
  margin-bottom: 6px;
}

input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #000000;
  cursor: pointer;
}

.card-sp{
  padding: 0 15px !important;
}
.px-5{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.hotel-distance i {
  margin-right: 5px;
  font-weight: 600;
}
.hotel-distance b {
  font-weight: 500;
}
.filterRecord{
  cursor: pointer;
  text-align: center;
  color: #fff;
  z-index: 999999;
  cursor: pointer;
  background-color: #e5484d;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  padding-top: 21px;
  font-size: 18px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 0 7px 5px #80808047;
}
.filterShow{
  display: block ;
}
.filterHide{
  display: none;
}
.filterShow {
  z-index: 99999;
  border-radius: 10px;
  width: 100%;
  padding-top: 10px;
  display: block;
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 !important;
  top: 0;
  bottom: 0;
  background-color: #fdfdfd;
}
.crossIcon{
  display: none;
}
/* .book-btn.book-btn {
  position: absolute;
  width: 150px;
  right: 55px;
  bottom: 75px;
} */
.hotelFilter .filter-group input{
  margin-right: 5px;

}



@media only screen and (max-width: 768px) {
.card-filter{
  display: block !important;
}
.book-btn.book-btn {
  position: unset;
  width: 150px;
  right: 55px;
  bottom: 75px;
}
.card-filter {
  background-color: #fdfdfd;
  border: none;
  border-radius: 10px;
  margin-top: -4px;
  margin-bottom: 6px;
  padding: 0;
  box-shadow: none;
}
.card-filter h5 {
  color: #2c3e50;
  padding-top: 15px;
}
}
@media only screen and (max-width: 768px) {
.crossIcon{
  display: block;
}
.labelName h3 {
  font-size: 14px !important;
  padding-top: 4px;
  position: relative;
  top: 0px;
}
.labelName{
  margin-bottom: 0;
}
.hotel-rating {
  display: none;
}
}
@media only screen and (min-width: 768px) {
  .filterShow{
    display: block ;
  }
  .filterHide{
    display: block;
  }
  .col-md-4.card-sp {
    padding-top: 0 !important;
}
.book-btn {
  padding: 10px 16px;
}
.filterRecord{
  display: none;
}
.desk-filter{
  display: none;
}

}